@model WebPizza.Models.ProfilePage

@{
    ViewBag.Title = "ProfilePage";
}

<h2>ProfilePage</h2>

<div>
    <h4>ProfilePage</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
