@model WebPizza.Models.Ingredients

<div id="makePizzaRow">
    @using (Html.BeginForm("AddToCart", "CustomPizza", new { ingId = Model.IngredientID }))
    {
        <div>
            @Html.HiddenFor(x => x.IngredientID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="@Model.IngredientName" style="block-size: 30px;">
        </div>
    }
    <span>
        <strong class="label label-primary price">
            @Model.IngredientPrice.ToString("# rub")
        </strong>
    </span>
</div>
<br />

