@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About our pizzeria</h1>
    <hr />
    <p class="lead">    Bellissimo Pizza has just opened up, but professional cooks and fast couriers are at your service! You can taste our pizza from 10:00 till 22:00.</p>
    <p class="lead">    We always use only fresh ingredients for our products. We don't save on pizza toppings and expand our range of products contantly. But if you want something more, you can make your own pizza using our custom pizza constructor.</p>
</div>
<br />
<div class="jumbotron">
    <h3>We welcome your feedback!</h3>
    <dl class="dl-horizontal">
        <dt>VK:</dt>
        <dd>bellissimo_pizza_khv</dd>
        <dt>Instagram:</dt>
        <dd>bellissimo_pizza</dd>
        <dt>E-mail::</dt>
        <dd>support@bellissimopizza.org</dd>
        <dt>Phone:</dt>
        <dd>+7 4212 123456</dd>
    </dl>
</div>