
@{
    ViewBag.Title = "Your cart";
}

<h2>Your order is accepted!</h2>
<h3>Check your e-mail inbox for details.</h3>
<div>
    @Html.ActionLink("Back to the main page", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>

